.navBar {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 999;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  background-color: var(--navBar-color);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  align-items: center;
  justify-content: flex-end;
  margin-top: -1px;
  will-change: opacity;
  max-width: 100vw;
}

.navigation {
  position: absolute;
  background-color: transparent;
  margin-right: 90px;
  display: flex;
  gap: 40px;
  list-style: none;
}

.navigationItem {
  background-color: transparent;
  font-size: 1.5rem;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
  user-select: none;
}

.navigation a {
  background-color: transparent;
  font-size: 1.5rem;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
  user-select: none;
}

.navigation :hover {
  color: var(--button-gradient-color);
}

.dropdown {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dropdownButton {
  position: absolute;
  display: none;
  background: transparent;
  color: transparent;
  border: none;
  cursor: pointer;
  left: 3px;
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  top: 100%;
  left: -15%;
  background-color: var(--navBar-color);
  padding: 10px 0;
  margin: 0;
  margin-top: 40px;
  min-width: 150px;
  z-index: 998;
  border-top: 0;
  border-radius: 0 0 20px 0;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
}

.dropdownMenu li {
  padding: 10px 20px;
  width: 100%;
  text-align: left;
  outline: none;
}

.dropdownMenu a {
  background-color: transparent;
  font-size: 1.2rem;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 8px 0;
  transition: color 0.2s ease;
  user-select: none;
  cursor: pointer;
  outline: none;
}

.dropdown a:hover {
  color: var(--button-gradient-color);
}

.langSwitchContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  align-items: center;
  z-index: 1000;
}

.langSwitch {
  width: 45px;
  height: 45px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.langSwitchContainer p {
  margin-top: -3px;
  font-weight: bold;
  user-select: none;
}

.langSwitch:hover {
  cursor: pointer;
}

.animateLeft {
  animation: slideInLeft 2s ease-in forwards;
  will-change: opacity;
}

.animateFade {
  animation: fadeIn 2s ease-in forwards;
  will-change: opacity;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-height: 390px) {
  .dropdownMenu {
    overflow-y: scroll;
    max-height: 75vh;
  }
}

@media (max-width: 934px) {
  .navBar {
    justify-content: flex-start;
  }

  .langSwitchContainer {
    position: absolute;
    right: -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dropdown {
    position: absolute;
  }

  .dropdownButton {
    position: absolute;
    display: flex;
    justify-content: center;
  }

  .navigation {
    display: none;
  }
}

@media (min-width: 800px) {
  @keyframes slideInLeft {
    0% {
      transform: translateX(-50vw);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@media (min-width: 935px) {
  .dropdownMenu {
    display: none;
  }

  @keyframes slideInLeft {
    0% {
      transform: translateX(-50vw);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@media (min-width: 1400px) {
  @keyframes slideInLeft {
    0% {
      transform: translateX(-50vw);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
