.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  img {
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
  }
}

.skillList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: center;
}

.rowWrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-self: center;
}

.stackedSkillList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  row-gap: 30px;
  max-width: 34ch;
}

.softSkillsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  align-items: center;
  max-width: 34ch;
  align-self: center;
}

hr {
  width: 120px;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin: 30px auto 50px;
}

@media (width >= 800px) {
  .skillList {
    max-width: fit-content;
    gap: 30px;
    max-width: 75ch;

    p {
      font-size: 20px;
    }
  }

  hr {
    width: 300px;
  }
}

@media (width >= 1400px) {
  .skillList {
    max-width: fit-content;
    gap: 32px;
    max-width: 85ch;

    p {
      font-size: 21px;
    }
  }

  hr {
    width: 300px;
  }
}

.break {
  flex-basis: 100%;
}
