.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  img {
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
  }
}

.skillList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: center;
}

.rowWrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-self: center;
}

.stackedSkillList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  row-gap: 30px;
  max-width: 34ch;
}

.softSkillsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  align-items: center;
  max-width: 34ch;
  align-self: center;
}

hr {
  width: 120px;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin: 30px auto 50px;
}

.sectionTitle1 {
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 10px;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6);
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.sectionTitle1.animate {
  opacity: 1;
  transform: translateX(0);
}

/*.sectionTitle1::after {
  content: "";
  position: absolute;
  left: 842px;
  bottom: 12px;
  height: 18px;
  width: 280px;
  background-color: var(--button-gradient-color);
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  z-index: -1;
}

.sectionTitle1.animate::after {
  opacity: 1;
  transform: translateX(0);
}
*/
.sectionTitle2 {
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 10px;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6);
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.sectionTitle2.animate {
  opacity: 1;
  transform: translateX(0);
}

/*.sectionTitle2::after {
  content: "";
  position: absolute;
  left: 698px;
  bottom: 12px;
  height: 18px;
  width: 581px;
  background-color: var(--button-gradient-color);
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  z-index: -1;
}

.sectionTitle2.animate::after {
  opacity: 1;
  transform: translateX(0);
}
*/
.sectionTitle3 {
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 10px;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6);
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.sectionTitle3.animate {
  opacity: 1;
  transform: translateX(0);
}

/*.sectionTitle3::after {
  content: "";
  position: absolute;
  left: 733px;
  bottom: 12px;
  height: 18px;
  width: 505px;
  background-color: var(--button-gradient-color);
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  z-index: -1;
}

.sectionTitle3.animate::after {
  opacity: 1;
  transform: translateX(0);
}
*/
