.certificationsContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: -30px;

  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  img {
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
  }
}

.skillList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.skillList a {
  text-decoration: none;
}

.certificationsContainer .rowWrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-self: center;
}

@media (width >= 800px) {
  .skillList {
    max-width: fit-content;
    gap: 30px;
    max-width: 75ch;

    p {
      font-size: 20px;
    }
  }
}

@media (width >= 1400px) {
  .skillList {
    max-width: fit-content;
    gap: 32px;
    max-width: 85ch;

    p {
      font-size: 21px;
    }
  }
}
