:root {
  --background-color: #fff;
  --btn-color: #0987f2;
  --btn-text-color: #fff;
  --project-card-bg: #ffffff00;
  --text-color: #222;
  --form-text-color: #555;
  --footer-text-color: #888;
  --navBar-color: rgb(201, 201, 201);
  --button-color-gradient-light: var(--btn-color);
  --button-color-gradient-dark: red;
  --button-gradient-color: var(--button-color-gradient-light);
  --text-color-swap: #222;
}

[data-theme="dark"] {
  --background-color: #222;
  --btn-color: #fff;
  --btn-text-color: #222;
  --project-card-bg: #fff;
  --text-color: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
  --navBar-color: rgb(65, 63, 63);
  --button-gradient-color: var(--button-color-gradient-dark);
  --text-color-swap: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #222;
  background-color: var(--background-color);
  margin: 0 0 60px;
  padding: 0;
  scroll-snap-type: none;
  scroll-padding-top: 80px;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

h1,
h2,
h3,
p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h2,
h3,
p,
nav {
  font-family: "Roboto Mono", monospace;
}

h1- h2 {
  text-transform: uppercase;
}

h2,
h3 {
  font-size: 20px;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 32px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.sectionTitle {
  margin-bottom: 30px;
}

.hover {
  cursor: pointer;
}

@media (width >= 800px) {
  #root {
    gap: 100px;
  }
  h1 {
    font-size: 40px;
  }
  h2,
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }

  @media (width >= 1400px) {
    #root {
      gap: 200px;
    }
    h1 {
      font-size: 49px;
    }

    .sectionTitle {
      margin-bottom: 75px;
    }
  }
}
